@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;0,800;1,300&display=swap");

:root {
  --bg: white;
  --bg-dark: #1f2937;
  --bg-section: #e5e7eb;
  --bg-cta: #3882f6;
  --bg-img: gray;

  --color: #f9faf8;
  --color-dark: #1f2937;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--color);
}

button {
  outline: none;
  border: none;
  padding: 6px 32px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 700;
}

.container {
  background-color: var(--bg-dark);
  padding: 0 200px;
}

/* HEADER */

.header {
  color: var(--color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}

.header h1 {
  font-size: 24px;
  font-weight: 900;
}

.header ul {
  display: flex;
  list-style-type: none;
}

.header ul li {
  margin: 0 16px;
}

.header ul li a {
  text-decoration: none;
  font-size: 18px;
  color: var(--color);
}

/* HERO */
.hero {
  display: flex;
  padding: 128px 0;
}

.hero-left,
.hero-right {
  flex: 1;
}

.hero-left {
  margin-right: 24px;
}

.hero-left h2 {
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 8px;
}

.hero-left p {
  font-size: 18px;
  margin-bottom: 8px;
}

.hero-left button {
  background-color: var(--bg-cta);
  color: var(--color);
}

.hero-right {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-img);
  color: var(--color);
}
